<form method="post" accept-charset="UTF-8" class="closed-properties-form">
  {{ getCsrfInput() }}
  <input type="hidden" name="action" value="closedProperties/save">
  <input type="hidden" name="propId" value="{{ propId }}">
  <input
    type="hidden"
    name="photos"
    data-original-value="{{ photos }}"
    value="{{ photos }}"
    class="photos-input"
  >
  <input type="submit" class="btn submit save-button" value="Save">
</form>